<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Indonesian Resto</title>
  <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
  <a href="#content" class="skip-link">Jump to Content</a>
<nav class="navbar">
    <a href="/" class="navbar-logo">Indonesian <span>Resto</span></a>
    <div class="menu">
      <a href="#" id="menu-lainnya">
        <i data-feather="menu"></i>
      </a>
    </div>
    <div class="navbar-nav">
      <a href="/">
        Home
      </a>
      <a href="#">Favorite</a>
      <a target="_blank" href="https://www.linkedin.com/in/akhmad-nurhadi-7615b5244/">About Us</a>
    </div>


</nav>
<!-- end navbar -->

  <!-- hero setion -->
  <div class="hero">
    <div class="hero_inner">
      <h1 class="hero_title">Indonesian Resto</h1>
      <p class="hero_tag">Restoran Indonesia yang menggelora</p>
    </div>
  </div>

  <div class="explore">

  </div>
  <!-- end hero -->


  <!-- tes button -->

<!-- main contain-->
<main class="content" id="content">
  <section class="content">
    <div class="content-list">
      <h1>Explore Restaurant</h1>
      <div class="list" id="mcon"></div>
    </div>
  </section>
</main>
<!-- end main contain -->

  <!-- footer -->
<footer>
<p class="fot">&copy; Created by Akhmad Nurhadi</p>
</footer>

  <!-- end footer -->
  <script>
    feather.replace()
  </script>
</body>
</html>
